body {text-align: center;
font-family: helvetica;
}

#header {color: white;
  background-image: url("https://whaddup.github.io/broadway/images/flatiron.png");}


.footerbar {background-color: dimgray;
color: white;}

.clickablelink {color: white;}
